
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>提交完成</title>
</head>
<body>
    <div style="text-align:center; width:100%;margin-top:100px;"> 
        <h1>您的问卷已成功提交, 感谢您的填写! </h1>
    </div>
</body>
</html>
