@charset "utf-8";
/* 批发商个人中心 */
body{-webkit-font-smoothing: antialiased;font-family: 'Microsoft Yahei','微软雅黑',STHeiti,SimHei,SimSun;font-size: 16px;}

.common .header{background-color: #35DC8C;border-color:#2BC35C;}
.right .part {width: 1000px;padding: 30px 30px;}


/*搜索路线 及 搜索结果*/
.search_part{width:100%;}
.search_part .search_input{margin-bottom:20px;}
.search_part .search_input_part{margin-top:50px;text-align:center;}
.search_part .search_input_text{width:40%;height:40px;margin-right:40px;}
.search_part .search_input_text:checked{outline:1px #53B9F8 solid;}
.search_part .search_input_btn{position:absolute;display:inline-block;width:120px;height:45px;line-height:45px;color:#FFF;cursor:pointer;border-radius:3px;background-color:#53B9F8;}
.search_part .search_input_btn:hover{box-shadow:1px 0.5px 1px #666;}
.search_part .search_quick {height:30px;font-size:14px;color:#A9A9A9;line-height:30px;margin-bottom:5px;}
.search_part .search_quick_title{height:30px;font-size:14px;color:#333;margin-right:20px;float:left;font-weight:bold;}
.search_part .search_quick select {float:left;font-size:14px;color:#A9A9A9;}
.search_part .search_quick ul{float:left;}
.search_part .search_quick ul li{float:left;margin-right:30px;}
.search_input_tab{width:80%;height:35px;margin:35px auto;margin-bottom:0px;padding-right:42px;background-image:url(../images/bluetab.png);background-repeat:no-repeat;line-height:35px;color:#FFF;font-size:0.9em;text-indent:15px;}
.search_part .search_input_adition{width: 80%;height:auto;margin:0px auto;padding:20px 20px 20px 20px;background-color: #fff;border: 1px solid #ddd;border-top:2px #53B9F8 solid;}
.search_part .search_input_adition ul{height:auto;margin:15px 0px 15px;list-style:none;font-size:0.9em;clear:both;}
.search_part .search_input_adition li{float: left;display: inline-block;padding: 0 8px;height: 22px;line-height: 22px;color: #333;white-space: nowrap;}
.search_part .search_input_adition li span{margin-left:3px;padding:0px 3px 0px 3px;}
.search_part .search_input_adition a.choosed span{display:inline-block;background-color:#53b9fb;color:#FFF;}
.search_part .search_input_adition ul .title {float: left;width: 90px;height: 22px;line-height: 22px;text-align: right;color: #333;zoom: 1;margin-left: 20px;margin-right:40px;font-weight: bold;}
.search_part .search_input_adition .date_addtion input{width:100px;}
.search_more{width: 80%;height:35px;line-height:35px;padding:0px 20px 0px 20px;margin:0px auto;background-color: #fff;border: 1px solid #ddd;clear:both;text-align:center;font-size:0.8em;color:#666;cursor:pointer;}
.search_result .search_result_details{width: 80%;height:auto;margin:0px auto;padding:20px 20px 20px 20px;background-color: #fff;border: 1px solid #ddd;border-top:2px #53B9F8 solid;}
.search_result .search_result_single{width:100%;height:100px;background-color: #fff;
border-bottom: 1px solid #dddddd;
box-shadow: 1px 1px 1px #ebeef0;}
.search_result .search_result_single h2{display: block;
width: 100%;font-weight:bold;text-indent:2em;
color: #0065bb;}
.search_input_result_tab{width:80%;height: 35px;margin: 35px auto;margin-bottom: 0px;padding-right: 42px;background-image: url(../images/bluetab.png);background-repeat: no-repeat;line-height: 35px;color: #FFF;font-size: 0.9em;text-indent: 15px;}
.search_part .single_tab{width:80%;}
.part .line_details_title {
width:80%;
padding:5px 20px 5px 20px;
color: #333;
margin: 15px auto;
min-height: 155px;
_height: 155px;
_padding-right: 317px;
position: relative;
border: #b5d0ed 1px solid;
box-shadow: #b1afae 1px 1px 1px;
border-radius: 5px;}
.line_details_title .title_left {
float: left;width: 70%;height: 150px;text-indent: 30px;}
.line_details_title .title_left h1 {
font-size: 1.2em;
line-height: 60px;
}
.line_details_title .title_left h1:hover{text-decoration:underline;}
.line_details_title .title_left h1 small{font-size:0.8em;}
.line_details_title .title_left p {
font-size: 0.8em;
line-height: 25px;
color: #999;
margin-right: 50px;
}
.line_details_title .title_right {width: 20%;
background-color: #eef8ff;position: absolute;
right: 20px;top: -1px;border: #ddf0f8 1px solid;
border-top: #39a7ee 2px solid;
border-bottom: 0 none;float: right;}
.line_details_title .title_right_others {width: 100%;height: 130px;}
.line_details_title .title_right_others .price {color: #999;text-align:center;font-size: 0.9em;margin-top: 10px;}
.line_details_title .title_right_others .number {color: #f60;font: 20px Tahoma;}
/*线路详情*/
.part .line_details{width:1000px;}
.line_details_title{color:#333;margin:15px 0px 15px 0px;min-height: 155px;_height: 155px;_padding-right: 317px;position: relative;border:#b5d0ed 1px solid;box-shadow:#b1afae 1px 1px 1px;border-radius:5px;}
.line_details_title .title_left{float:left;width:70%;height:150px;text-indent:30px;}
.line_details_title .title_left h1{font-size:1.2em;line-height:60px;}
.line_details_title .title_left p{font-size: 0.8em;line-height:25px;color: #999;margin-right: 50px;}
.line_details_title .title_right{width:20%;background-color: #eef8ff;position: absolute;right:20px;top: -1px;border: #ddf0f8 1px solid;border-top: #39a7ee 2px solid;border-bottom: 0 none;float:right;}
.line_details_title .title_right_others{width:100%;height:130px;text-align:center;}
.line_details_title .title_right_others .price{color:#999;text-align:center;font-size:0.9em;margin-top:10px;}
.line_details_title .title_right_others  .number{color: #f60;font: 20px Tahoma;}
.line_details_title .title_right_others .btn_sub{display: block;margin:20px auto;color: #FFF;font-size: 0.8em;display: inline-block;padding: 5px 10px;border-radius: 2px;cursor: pointer;}
.line_details_box{width:1000px;height:auto;position: relative;border:1px solid #b5d0ed;border-top:0px;margin-bottom: 10px;}
.line_details_box .topic{background-position: 0 -122px;background-repeat: repeat-x;background-color: #F4F9FA;height: 30px;border: #b5d0ed solid 1px;border-width: 1px 0;padding: 8px 0 0 20px;color:#0073C5;position: relative;background-image:url(../images/salers_background.png);}
.line_details_single{margin:20px 40px;color: #4d4d4d;font-size: 0.8em;line-height:20px;margin-top:10px;}
/*下订单 以及 退货单*/
.part .order_input{height:auto;width:100%;padding-bottom:20px;}
.part .order_input .single{font-size:14px;height:auto;margin-top:10px;line-height:30px;text-align:center;}
.part .order_input .single input{width:80px;margin:0px 50px 0px 50px;}
.part .order_input .single .btn_sub{line-height:30px;display:block;color:#FFF;font-size:14px;display:inline-block;padding:0px 15px;border-radius:2px;cursor:pointer;}
.part .order_input .btn_cancel{margin-top:30px;display:block;color:#000;font-size:14px;display:inline-block;padding:0px 15px;border-radius:2px;cursor:pointer;}
.part .order_input .btn-part{font-size:14px;height:auto;margin-top:20px;line-height:30px;text-align:center;}
.part .order_input .btn-part .btn_sub{line-height:30px;margin-left:100px;display:block;color:#FFF;font-size:14px;display:inline-block;padding:0px 15px;border-radius:2px;cursor:pointer;}
/*公司管理*/
.part .company_btn{color:#FFF;font-size:0.8em;display:inline-block;padding:3px 5px;background-color:#428bca;border-radius:2px;cursor:pointer;}
.part .company_btn:hover{box-shadow:1px 1px 1px #b1afae;}
.right .part{width:1000px;padding:30px 30px;}
.right .part .company_total{width:100%;height:150px;position:relative;}
.right .part .company_logo{float:left;width:105px;height:105px;margin-top:15px;margin-left:15px;border:3px solid #CCC;}
.right .part .company_infor{width:800px;height:150px;margin-left:15px;float:left;}
.right .part .company_infor .company_btn{bottom:10px;position: absolute;}
.right .part .company_infor_up{height:75px;border-bottom:1px dashed #dce6f2;position:relative;}
.right .part .company_infor_up .company_infor_name{display:inline-block;position:absolute;bottom:10px;font-size:1.5em;}
.right .part .company_infor_up .company_type{font-size:0.6em;color:#999;margin-left:30px;}
.right .part .company_infor_up .details_type{color:#f79742;font-weight:bold;}
.right .part .company_infor_down{height:75px;padding-top:5px;}
.right .part .company_infor_down .company_member{font-size:0.8em;color:#999;margin-right:50px;}
.right .part .admin_part{position: relative; border-radius: 4px;width:90%;padding: 25px 19px 10px;background-color: #fff;border: 1px solid #ddd;margin-top:30px;}
.right .part .admin_part .table{position: relative;}
.right .part .admin_part tr{position: relative;}
.right .part .admin_part th{border-top:0px;font-size:14px;line-height: 20px;color: #333;font-weight:bold;}
.right .part .admin_part td{padding-top:15px;padding-bottom:8px;position:relative;}
.right .part .admin_part tbody tr:hover{background-color: #f9f9f9;}
.right .part .admin_part .company_btn{margin:0px auto;font-size: 0.8em;}
.right .part .admin_part .company_btn_action{width:65px;height:45px;position:absolute;z-index:50;top:8px;right:-25px;background-color:#F00;border:1px solid #dce6f2;background-color:#F5F5F5;border-radius:5px;box-shadow: 1px 1.5px 2.5px #b1afae;font-size:12px;line-height:22px;display:none;}
	/*公司管理 添加子账户*/
.right .part .admin_part_add{position: relative; border-radius: 4px;width:90%;padding: 25px 19px 10px;background-color: #fff;border: 1px solid #ddd;margin-top:30px;}
.right .part .admin_part_add .single_item{height:60px;width:100%;}
.admin_part_add .single_item .left_item{width:20%;height:60px;line-height:70px;float:left;text-align:right;color:#666;}
.admin_part_add .single_item .right_item{height:60px;width:75%;float:left;line-height:60px;}
.admin_part_add .single_item .right_item input{width:300px;height:30px;outline: none;text-indent: 1em;line-height:30px;margin-left:30px;margin-top:20px;color:#333;border: 1px solid #ddd;}
.admin_part_add .single_item .right_item input:focus{border-color:#67A1E2;}
.admin_part_add .single_item_btn{width:95%;height:80px;margin:30px 0px 0px 200px;}
.admin_part_add .single_item_btn .btn_sub{display:block;color:#FFF;font-size:1em;display:inline-block;padding:10px 15px;border-radius:2px;cursor:pointer;margin-right:50px;}
.admin_part_add .single_item_btn .btn_cancel{display:block;color:#FFF;font-size:1em;display:inline-block;padding:10px 15px;border-radius:2px;cursor:pointer;margin-right:50px;}
	/*公司管理 申请成为批发商*/
.right .part .admin_part .admin_part_prompt{width:100%;font-size:14px;line-height:35px;text-indent:2em;border-bottom: 1px solid #ddd;color: #666;}
.right .part .admin_part .admin_part_prompt i{margin-bottom:-5px;}
.right .part .admin_part .admin_part_prompt li{margin-left:30px;}
.right .part .admin_part .prompt_single_item{height: 60px;width: 100%;font-size:14px;}
.right .part .admin_part .prompt_single_item .left_item{width: 20%;height: 60px;line-height: 70px;float: left;text-align: right;color:#1570A6;}
.right .part .admin_part .prompt_single_item .right_item {padding-left:50px;height:60px;width:65%;float: left;line-height: 60px;}
.right .part .admin_part .prompt_single_item .btn_sub{display:block;color:#FFF;font-size:1em;display:inline-block;padding:5px 10px;border-radius:2px;cursor:pointer;margin:20px 150px 0px 100px;}
.right .part .admin_part .prompt_single_item .btn_cancel{display:block;color:#FFF;font-size:1em;display:inline-block;padding:5px 10px;border-radius:2px;cursor:pointer;margin:20px 150px 0px 100px;}
/*线路管理*/
.part .line_manage{margin-top:30px;}
.part .line_manage_nav{border-bottom: 1px solid #b5d0ed;}
.part .line_manage_nav ul{width:100%;height:35px;list-style:none;}
.part .line_manage_nav li{float:left;font-size: 14px;color: #1a487f;padding-left: 8px;background-position: 0 -288px;background-color: #B7D1ED;height: 35px;line-height: 35px;margin-right: 10px;background-image:url(../images/salers_background.png);background-repeat: no-repeat;cursor:pointer;}
.part .line_manage_nav li:hover{background-position: 0 -362px;background-color: #F3F8FC;position: relative;padding-bottom: 1px;}
.part .line_manage_nav li.choosed{background-position: 0 -362px;background-color: #F3F8FC;position: relative;padding-bottom: 1px;font-weight: bold;}
.part .line_manage_nav li span{display: inline-block;height: 35px;padding-right: 8px;vertical-align: top;background-position: 100% -288px;background-image: url(../images/salers_background.png);background-repeat: no-repeat;}
.part .line_manage_nav li:hover span{background-position: 100% -362px;padding-bottom: 1px;background-image:url(../images/salers_background.png);background-repeat: no-repeat;}
.part .line_manage_nav li.choosed span{background-position: 100% -362px;padding-bottom: 1px;background-image:url(../images/salers_background.png);background-repeat: no-repeat;} 
.part .line_manage_infor{width:1000px;height: auto;position: relative;border: 1px solid #b5d0ed;margin-bottom: 80px;}
.part .line_manage_infor table{width:97%;margin:0px auto;}
.part .line_manage_infor .table th,.table td {padding:12px;}
.part .line_manage_infor #SellingTable{display:table;}
.part .line_manage_infor #PastTable{display:none;}
.part .line_manage_infor #CancelTable{display:none;}
.part .line_manage_infor .company_btn{padding:3px 2px 3px;margin-left:5px;margin-right:5px;}
.part .line_manage_infor i{width:18px;height:18px;margin-bottom:-5px;display:inline-block;background-size:16px;background-position:center;}
.part .line_manage_infor .table_moreaction{width:73px;height:90px;position:absolute;z-index:10;right:103px;display:none;}
.part .line_manage_infor .table_moreaction img{margin-bottom:-1px;}
.part .line_manage_infor .table_moreaction ul{border: 1px solid #ADB6C9;background-color:#FFF;border-radius:2px;}
.part .line_manage_infor .table_moreaction li{margin:5px 0px 5px 0px;height:20px;font-size: 0.8em;}
.part .line_manage_infor .table_moreaction li:last{border-top:1px dashed #CCC;}
/*线路管理  当前线路的路线订单管理*/
.part .line_details_order{width:1000px;padding:0px;box-shadow:none;}
.part .line_manage #LineOrder .btn_sub{display: block;color: #FFF;font-size: 0.8em;display: inline-block;padding: 5px 10px;border-radius: 2px;cursor: pointer;}
.part .line_manage #LineCancelOrder .btn_sub{display: block;color: #FFF;font-size: 0.8em;display: inline-block;padding: 5px 10px;border-radius: 2px;cursor: pointer;}
.part .line_details_order .btn_cancel{display: block;color: #FFF;font-size: 0.8em;display: inline-block;padding: 5px 10px;border-radius: 2px;cursor: pointer;margin-top: 20px;}
.part .line_manage #LineCancelOrder{display:none;}
.part .line_manage #LineMember{display:none;}
.part .line_manage #LineMember td .btn_sub,.btn_cancel{display: block;color: #FFF;font-size: 0.8em;display: inline-block;padding: 5px 10px;border-radius: 2px;cursor: pointer;}
.company_btn {
padding: 3px 2px 3px;
margin-left: 5px;
margin-right: 5px;
}
.part .company_btn:hover {
box-shadow: 1px 1px 1px #b1afae;
}
.part .company_btn {
color: #FFF;
font-size: 0.8em;
display: inline-block;
padding: 3px 5px;
background-color: #428bca;
border-radius: 2px;
cursor: pointer;
}
/*订单详情 和 退货单详情*/
.line_order_details{}
.line_order_details .line_order_body{width:100%;padding: 20px 20px 20px 20px;background-color: #fff;border: 1px solid #ddd;border-top: 2px #53B9F8 solid;}
.line_order_details .line_order_body .single{width:100%;position:relative;margin-top:20px;margin-bottom:20px;font-size: 14px;line-height:20px;}
.line_order_details .line_order_body .single_btn{text-align:center;}
.line_order_details .line_order_body .single_btn .btn_sub{text-align:center;color: #FFF;
font-size: 14px;
display: inline-block;
padding: 3px 5px;
background-color: #428bca;
border-radius: 2px;
cursor: pointer;margin-left:50px;}

/*客户信息填写  2014.9.27*/
.part .member_blank{height: auto;width: 100%;padding-bottom: 20px;}
.part .member_blank .member_item{height:auto;width: 100%;border:1px solid #f2f2f2;}
.part .member_blank .member_item_head{height:25px;width:100%;line-height:25px;background:#f2f2f2;}
    .part .member_blank .member_item_head input[type="checkbox"] {position:absolute;bottom:5px;right:135px;}
    .part .member_blank .member_item_head span{font-size:12px;float:right;position:relative;margin-right:15px;}
    .part .member_blank .member_item_head #FoldItem{color:#999;text-decoration:dashed #999 1px;cursor:pointer;}
.part .member_blank .member_item_body{height:auto;width:100%;background:#FFF;}
    .part .member_blank .member_item_body p {text-indent:30px;font-size:14px;line-height:30px;text-align: left;}
        .part .member_blank .member_item_body p input[type="text"] { font-size:12px; height:15px;line-height:15px;max-width:80px;}
        .part .member_blank .member_item_body p select { font-size:12px;}

/*消息中心*/
.right .part .admin_part tr.msg_sub{background-color:#FFF;color: #2C4A77;vertical-align:baseline;}
.right .part .admin_part tr.msg_sub:hover {background-color:#FFF;}
.right .part .admin_part tr.msg_sub td{text-align:left;font-weight:bold;padding-top: 12px;padding-bottom: 5px;border-bottom:2px solid #DCE0E1;}
.right .part .admin_part tr.msg_sub td:hover {background-color:#FFF;}
.right .part .admin_part tr td.title {max-width:510px;word-break:normal;word-wrap:break-word;text-align:left;}
.right .part .admin_part tr span.mail{margin-top:4px;margin-left: 10px;display:block;width:14px;height:13px;background:url(../images/iconfont_mail.png) no-repeat;background-position:0px 0px;}
.right .part .admin_part tr span.mail_read{margin-top:4px;margin-left: 10px;display:block;width:14px;height:13px;background:url(../images/iconfont_mail.png) no-repeat;background-position:0px -15px;}
/*线路搜索板块*/
.part .search_total{margin-top:-20px;}
.part .search_total > ul{width:auto;height:33px;line-height:33px;border-bottom:1px solid #E5E5E5;font-size:16px;}
.part .search_total > ul li{float:left;width:auto;padding-left:10px;padding-right:10px;height:31px;cursor:pointer;}
.part .search_total > ul li.active{border-bottom:2px solid #26A8FA;}
.part .search_total > ul li.cut_line{padding:0px;color:#CCC;font-weight:lighter;border-left:1px solid #CCC;height:14px;margin-top:9.5px;}
.part .search_total > ul li:hover{border-bottom:2px solid #26A8FA;}
.part .search_total .details_part {color:#3c3c3c;}
.part .search_total .top_line{height:40px;line-height:40px;text-align:left;}
.part .search_total .top_line p{text-align:left;position:relative;}
.part .search_total .top_line input[type="text"]{height:25px;float:left;margin-top:7.5px;outline:none;font-size:14px;}
.part .search_total .top_line input[type="submit"]{float:left;margin-top:7.5px;margin-left:-3px;outline:none;height:29px;border:none;background:#f5f5f5;color: #3c3c3c;cursor: pointer;border: 1px solid #ccc;}
.part .search_total .top_line a{font-size:14px;margin-left:120px;cursor:pointer;line-height:45px;}
.part .search_total .top_line a:hover{color:#26A8FA;}
.part .search_total .top_line a small{color:#999;}
.part .search_total .top_line a:hover small{color:#999;}
.part .search_total .second_line {height:100px;padding-top:10px;display:none;}
.part .search_total .second_line p{height:40px;line-height:40px;font-size:14px;}
.part .search_total .second_line select{outline:none;}
.part .search_total .second_line .serach_btn input[type="submit"]{margin-left:176px;outline:none;height:29px;border:none;background:#f5f5f5;color: #3c3c3c;cursor: pointer;border: 1px solid #ccc;}
.part .search_total .second_line_ct{margin-left:50px;}
.part .search_total .second_line_rn{margin-left:230px;}