@charset "utf-8";
/* 运营商&批发商 组件  */
.common{height:100%;overflow-x:auto;overflow-y:auto;margin:0px auto;max-width:1600px;min-width:1300px;background-color:#FFF;}
.common .h30{width:100%;height:30px;}
.common .h60{width:100%;height:60px;}
.common i{width:22px;height:22px;display:inline-block;background-repeat:no-repeat;background-size:contain;}
.common .i-bell{background-image:url(../images/iconfont-tixing.png);}
.common .active .i-bell{background-image:url(../images/iconfont-tixing-active.png);}
.common .i-flag{background-image:url(../images/iconfont-dingxiang.png);}
.common .active .i-flag{background-image:url(../images/iconfont-dingxiang-active.png);}
.common .i-control{background-image:url(../images/iconfont-jihuo.png);}
.common .active .i-control{background-image:url(../images/iconfont-jihuo-active.png);}
.common .i-manger{background-image:url(../images/iconfont-guanggaozhu.png);}
.common .active .i-manger{background-image:url(../images/iconfont-guanggaozhu-active.png);}
.common .i-manage{background-image:url(../images/iconfont-shezhixiangao.png);}
.common .i-more{background-image:url(../images/iconfont-arrowdown_white.png);}
.common .i-user-bell{ background-image:url(../images/iconfont-duihuakuang.png);}
.common .i-user-arrow-down{background-image:url(../images/iconfont-xiangxia.png);}
.common .i-arrow-top{background-image:url(../images/top-arrow.png);}
.common .i-quit{background-image:url(../images/iconfont-zhuxiao.png);}
.common .i-tuikuan{background-image:url(../images/iconfont-tuikuan.png);}
.common .active .i-tuikuan{background-image:url(../images/iconfont-tuikuan-active.png);}
.common .i-dingdan{background-image:url(../images/iconfont-dingdan.png);}
.common .active .i-dingdan{background-image:url(../images/iconfont-dingdan-active.png);}
.common .i-shouji{background-image:url(../images/iconfont-shouji.png);}
.common .active .i-shouji{background-image:url(../images/iconfont-shouji-active.png);}
	/*顶部导航栏*/
.common .header{width:100%;max-width: 1600px;min-width: 1300px;height:50px;position:fixed;top:0px;z-index:1050;border-bottom: 3px solid #2b85c3;background-color: #359bdc;}
.common .header .logo{width:210px;height:50px;margin-left:10px;float:left;}
.common .header .logo img{height:45px;}
.common .header .pleft{float:left;margin-left:20px;margin-top:5px;width:220px;height:45px;line-height:22.5px;color:#FFF;font-size:14px;}
    .common .header .pleft em {font-weight:bold;margin-right:10px;}
.common .header .prun{background:url("../images/iconfont-xiaoxixiangao.png") no-repeat left; background-size:20px; width:500px;height:50px;line-height:50px;font-size:14px;color:#FFF;float:left;overflow:hidden;text-indent:30px;}
.common .header .pright{float:right;margin-left:20px;margin-top:5px;width:220px;height:45px;line-height:22.5px;color:#FFF;font-size:14px;}
.common .header .pright p a{height:15px;padding-right:5px;padding-left:5px;}
    .common .header .pright p a:hover{text-decoration:underline;cursor:pointer;text-decoration-style:dotted;}
.common .header .pright p i {width:2px;height:10px;border-right:1px dashed #FFF;}
.common .header .pcenter{width:220px;height:50px;float:right;}
.common .header .pcenter .c_message_top{height:50px;line-height:50px;font-size:12px;color:#FFF;padding-right:15px;border-right:1px dashed #FFF;cursor:pointer;}
.common .header .pcenter .c_user_name_top{height:50px;padding-left:15px;line-height:50px;font-size:12px;color:#FFF;cursor:pointer;}
.common .header .pcenter .i-user-bell{width:14px;height:14px;margin-bottom: -2px;margin-right:10px;}
.common .header .pcenter .i-user-arrow-down{width:14px;height:14px;margin-bottom: -2px;margin-left:5px;}
.common .header .pcenter .c_message_box{display:none;width:240px;height:120px;border: 1px solid #e3e3e3;background-color:#FFF;position:absolute;top:70px;right:10px;}
.common .header .pcenter .c_message_box .i-arrow-top{width:10px;height:10px;margin-top:-6px;margin-left:80px;}
.common .header .pcenter .c_message_box .up{width:200px;margin:10px auto;height:60px;line-height:60px;font-size:14px;text-align:center;}
.common .header .pcenter .c_message_box .down{width:200px;margin:10px auto;border-top:1px dashed #e3e3e3;bottom:0px;font-size:12px;}
.common .header .pcenter .c_message_box .down .btn_sub{display:block;color:#FFF;display:inline-block;padding:3px 5px;border-radius:2px;cursor:pointer;margin-top:5px;margin-left:70px;}
.common .header .pcenter .c_user{display:none;width:80px;height:85px;border: 1px solid #e3e3e3;background-color:#FFF;position:absolute;top:70px;right:30px;}
.common .header .pcenter .c_user .i-arrow-top{width:10px;height:10px;margin-top:-6px;margin-left:30px;}
.common .header .pcenter .c_user ul li{height: 25px;
line-height: 25px;
text-align:center;
background-color: #fff;
-moz-user-select: none;
cursor: pointer;
display: block;
font-size:12px;
color: #0079F5;}
.common .header .pcenter .c_user ul li .i-quit{margin-top:5px;width:12px;height:12px;}
.common .header .pcenter .c_user ul li:last-child{margin-top:5px;bottom:0px;border-top:1px dashed #CCC;}
	/*左侧 导航栏部分*/
.common .left{width:180px;height:100%;background-color:#EBF0F6;float:left;position:fixed;border-right:1px solid #CCC;box-shadow: 1px 1.5px 2.5px #b1afae;}
.common .left .nav li .title{width:100%;min-height:50px;color:#a9b7b7;font-weight:normal;line-height:50px;position:relative;display:block;text-align:center;cursor:pointer;}
.common .left .nav li:hover .title{background-color:#E1EAF3;}
.common .left .nav li.active .title{color:#26A8FA;background-color:#E1EAF3;border-right:10px solid #FFF;margin-top:2px;box-shadow: 1px 1px 1px #b1afae;text-indent:10px;margin-left:-10px;}
.common .left .nav li ul{display:none;width:100%;height:auto;font-weight:normal;box-shadow: 1px 1px 1px #b1afae;color:#a9b7b7;margin-bottom:5px;}
.common .left .nav li.active ul{display:inherit;width:100%;height:auto;color:#a9b7b7;font-weight:normal;box-shadow: 1px 1px 1px #b1afae;background-color:#E1EAF3;color:#26A8FA;margin-bottom:5px;}
.common .left .nav li ul li{font-size:14px;text-align:center;line-height:30px;}
	/*右侧 内容部分*/
.common .right{width:80%;position:relative;margin-left:210px;float:left;}
    /*上部历史导航条*/
.position{font-size:0.8em;color:#666;text-indent:1em;line-height:1.5em;padding-bottom:5px;border-bottom:1px solid #CCC;}


/*按钮组*/
.btn_sub{background: #0073C5;}
.btn_sub:hover{box-shadow:1px 1.5px 1px #b1afae;}
.btn_cancel{background: #E0E0E0;}
.btn_cancel:hover{box-shadow:1px 1.5px 1px #b1afae;}
.btn_waiting{background-color:#51870a;}
.waveline{margin: 0 -1px;height: 8px;display:block;background-image:url(../images/waveline.png);background-position: 0 0;line-height: 0;font-size: 0;background-repeat: repeat-x;}
/*表格类*/
table {max-width: 100%;background-color: transparent;border-collapse: collapse;border-spacing: 0;}
.table{width: 100%;margin-bottom: 20px;}
.table tr{margin-top:10px;}
.table th,.table td {padding: 8px;line-height: 20px;text-align: center;vertical-align: top;border-top: 1px solid #ddd;}
.table_withline{width:80%;margin-bottom:30px;font-size: 14px;color:#444;}
.table_withline th{border:1px solid #999;height:30px;line-height:30px;text-align:center;}
.table_withline td{border:1px solid #999;height:30px;line-height:30px;text-align:center;}
/*标题栏*/
.single_tab {width:100%;height: 35px;margin: 35px auto;margin-bottom: 0px;padding-right: 42px;background-image: url(../images/bluetab.png);background-repeat: no-repeat;line-height: 35px;color: #FFF;font-size: 0.9em;text-indent: 15px;}
/*帮助页面*/
.help-list{width:980px;height:auto;padding-left:50px;padding-right:50px;margin-top:-15px;}
.help-list .single{margin-bottom:25px;}
.help-list .single h3{font-size: 16px;font-weight: 500;color: #333;margin-bottom:5px;}
.help-list .single h3 .btn_sub{float:right;color: #FFF;
font-size: 12px;
display: inline-block;
padding: 4px 7px;
border-radius: 2px;
cursor: pointer;}
.help-list .single ul li{padding-left:20px;color: #333;font-size:13px;height: 32px;line-height: 32px;position: relative;border-bottom: 1px dashed #ccc;}
.help-list .single ul li .num{color: #aaa;}



