<div class="logo">
    <a href="/Marketer/MSearch/LineSearch"><img src="/images/index_logo.png" /></a>
</div>
<div class="pleft">
    <p>
        <a>
            <em></em>
            (<span>零售商</span>)
        </a>
    </p>
    <p><a href="/Marketer/MCompany/Message">未读消息 <strong style="font-size:15px;font-weight:bold;color:red"></strong> 条 </a></p>
</div>
<div class="prun" id="RunContainer">

</div>
<div class="pright">
    <p title="占位行">　</p>
    <p>
        <a href="/Marketer/MAuth/Editinfo">设置</a><i></i>
        <a href="/Marketer/MHome/Help">帮助</a><i></i>
        <a href="/Marketer/MAuth/ConvertRole">切换角色</a><i></i>
        <a href="/Marketer/MAuth/Logout">退出</a>
    </p>
</div>
