<div class="logo">
    <a href="/Marketer/MSearch/LineSearch"></a>
</div>
<div class="pleft">
    <p>
        <a>
            <em></em>
            (<span>管理平台</span>)
        </a>
    </p>
</div>
<div class="pright">
    <p title="占位行">　</p>
    <p>
        <a href="#">设置</a><i></i>
        <a href="#">帮助</a><i></i>
        <a href="/UserOp/Auth/Logout">注销</a>
    </p>
</div>
