<div class="logo">
    <a href="/Marketer/MSearch/LineSearch"></a>
</div>
<div class="pleft">
    <p>
        <a>
            <em></em>
            (<span>管理平台</span>)
        </a>
    </p>
</div>
<div class="prun" id="RunContainer">

</div>
<div class="pright">
    <p title="占位行">　</p>
    <p>
        <a href="/Marketer/MAuth/Editinfo">设置</a><i></i>
        <a href="/Marketer/MHome/Help">帮助</a><i></i>
        <a href="/Marketer/MAuth/Logout">退出</a>
    </p>
</div>
